.m-title {
    font-size: 25px;
    color: cornflowerblue;
}
.subtitle {
    color: darkgreen;
    font-weight: bold;
    font-size: 16px;
}
.profile-card {
    border: 1px solid #dbdbdb;
    border-radius: 15px;
    padding: 10px 0 10px 0;
    cursor: pointer;
}